<h1 class="contact-h1">Contact Us</h1>

<div class="info">
	<p>This is the first web app I am developing using Rails. Keep in touch for more updates to follow.</p>
</div>

<%= flash[:notice] %>
<div class="contact-list">
	<ul>
		<li><%= image_tag("iphone.png", class: "img-responsive glyph") %> Ph. 512-618-8966</li> <!-- smartphone phone call by unlimicon from the Noun Project -->
		<li><%= image_tag("email.png", class: "img-responsive glyph g-2") %>Email: <a href="mailto:luismeza01@gmail.com">luismeza01@gmail.com</a></li> <!-- Email by Chameleon Design from the Noun Project -->
		<li><%= image_tag("address.png", class: "img-responsive glyph g-3") %>Address: NW Austin Texas</li> <!-- House by Mani Amini from the Noun Project -->
	</ul>
	<%= form_tag("/static_pages/thank_you") do %>
		<div class="row">
			<div class="form-group" >
				<%= label_tag :Name %>
				<%= text_field_tag :name, nil, class: "form-control", placeholder: "Your Name" %>
			</div>
			<div class="form-group">
				<%= label_tag :Email, "Email Address" %>
				<%= text_field_tag :email, nil, placeholder: "Your Email Address", class: "form-control required: true" %>
			</div>
			<div class="form-group">
				<%= label_tag :Message %>
				<%= text_area_tag :message, nil, placeholder: "Your Message", class: "form-control required: true", style: "resize:none" %>
			</div>
			<div class="actions">
				<%= submit_tag "SEND" %>
			</div>
		</div>
	<% end %>
</div>
