<h1 class="contact-h1">Contact Us</h1>

<div class="info">
	<p>This is the first web app I am developing using Ruby. Keep in touch for more updates to follow.</p>
</div>


<div class="contact-list">
	<ul>
		<li><%= image_tag("iphone.png", class: "img-responsive glyph") %> Ph. 512-618-8966</li> <!-- smartphone phone call by unlimicon from the Noun Project -->
		<li><%= image_tag("email.png", class: "img-responsive glyph g-2") %>Email: <a href="mailto:luismeza01@gmail.com">luismeza01@gmail.com</a></li> <!-- Email by Chameleon Design from the Noun Project -->
		<li><%= image_tag("address.png", class: "img-responsive glyph g-3") %>Address: NW Austin Texas</li> <!-- House by Mani Amini from the Noun Project -->
	</ul>
	<%= form_for("/contact") do |f| %>
		<div class="field" >
			<%= f.label :Name %><br>
			<%= f.text_field :name, placeholder: "Your Name" %>
		</div>
		<div class="field">
			<%= f.label :Email %><br>
			<%= f.text_field :email,  placeholder: "Email Address" %>
		</div>
		<div class="field">
			<%= f.label :Message %><br>
			<%= f.text_area :description, placeholder: "Your Message", cols: "30", rows: "5", class: "Message", style: "resize:none" %>
		</div>
		<div class="actions">
			<%= submit_tag "SEND" %>
		</div>
	<% end %>
</div>



