<div class="overall-product-show" id="products">
  <p id="product_name">
    <strong class="product-name"></strong><br>
    <%= @product.name %>
  </p>
  <div class="product-show-flex">
    <div id="product_img">
      <p>
        <strong class="product-image"></strong><br>
        <%= image_tag(@product.image_url, id: "prod-img", class: 'img-responsive img-zoom', data_zoom_image: "@product.image_url_large") %>
      </p>
    </div>
    <div id="product-desc">
      <p>
        <strong class="product-description">Description</strong><br>
        <%= @product.description %>
      </p>

      <p>
      	<strong class="product-colour">Color</strong><br>
      	<%= @product.colour %>
      </p>

      <p>
      	<strong class="product-price">Price</strong><br>$<%= @product.price %>
      </p>
      <p>
        Average Rating
        <div class="rated" data-score="<%= @product.average_rating %>"></div>
      </p>
      <p>
        <%= form_tag "/payments/create" do %>
          <%= render partial: "shared/stripe_checkout_button" %>
          <%= hidden_field_tag(:product_id, @product.id) %>
        <% end %>
      </p>
    </div>
  </div>
  <br>
  <p>
    <%= render partial:'new_comment' %>
    <%= render partial:'comments' %>
    <%= will_paginate @comments %>
  </p>

</div>
<br>
<br>
<div class="links-product-show">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
