<h2 id="productshow"> Product View</h2>

<div class="overall-product-show">
  <p>
    <strong class="product-name">Name:</strong><br>
    <%= @product.name %>
  </p>

  <p>
    <strong class="product-description">Description:</strong><br>
    <%= @product.description %>
  </p>

  <p>
    <strong class="product-image">Image url:</strong><br>
    <%= @product.image_url %>
  </p>

  <p>
  	<strong class="product-colour">Colour:</strong><br>
  	<%= @product.colour %>
  </p>

  <p>
  	<strong class="product-price">Price:</strong><br>
  	<%= @product.price %>
  </p>

  <p>
    <strong class="product-rating">Rating:</strong><br>
    <%= @product.highest_rating_comment %>
    <%= @product.lowest_rating_comment %>
  </p>
</div>
<br>
<br>
<div class="links-product-show">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
