<div class="overall-product-show" id="products">
  <p id="product_name">
    <strong class="product-name"></strong><br>
    <%= @product.name %>
  </p>

  <p>
    <strong class="product-image"></strong><br>
    <%= image_tag(@product.image_url, class: 'img-responsive') %>
  </p>

  <p>
    <strong class="product-description">Description</strong><br>
    <%= @product.description %>
  </p>

  <p>
  	<strong class="product-colour">Color</strong><br>
  	<%= @product.colour %>
  </p>

  <p>
  	<strong class="product-price">Price</strong><br>$<%= @product.price %>
  </p>

  <p>
    <strong class="product-rating">Rating</strong><br>
    <%= @product.highest_rating_comment %>
    <%= @product.lowest_rating_comment %>
  </p>
</div>
<br>
<br>
<div class="links-product-show">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
