<div class="overall-product-show" id="products">
  <div class="row" data-product-id="<%= @product.id %>">
      <p id="product_name">
        <strong class="product-name"></strong><br>
        <%= @product.name %>
      </p>
    <% cache @product do %>
      <div class="product-show-flex">
        <div id="product_img">
          <p>
            <strong class="product-image"></strong><br>
            <%= image_tag(@product.image_url, id: "prod-img", class: 'img-responsive img-zoom', data_zoom_image: "@product.image_url_large") %>
          </p>
        </div>
        <div id="product-desc">
          <p>
            <strong class="product-description">Description</strong><br>
            <%= @product.description %>
          </p>

          <p>
            <strong class="product-colour">Color</strong><br>
            <%= @product.colour %>
          </p>

          <p>
            <strong class="product-price">Price</strong><br>$<%= @product.price %>
          </p>
    <% end %>
          <p>
            Average Rating
            <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
          </p>
          <p>
            <%= form_tag "/payments/create" do %>
              <%= render partial: "shared/stripe_checkout_button" %>
              <%= hidden_field_tag(:product_id, @product.id) %>
            <% end %>
          </p>
        </div>
    </div>
  </div>
  <br>
  <p>
    <div class="alert alert-info" style="display:none" role="alert">
      New review was JUST posted!!
    </div>
    <%= render partial:'new_comment' %>
    <%= render partial:'comments' %>
    <%= will_paginate @comments %>
  </p>

</div>
<br>
<br>
<div class="links-product-show">
  <% if current_user && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product) %>
  <% end %>
  <%= link_to 'Back', products_path %>
</div>
