<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Firstapp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

  <body>
  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
           data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        </div>
    		<div class="navbar-collapse collapse" id="navbar">
          <div class="search">
            <%= form_tag("/products", method: "get") do %>
              <%= text_field_tag (:q) %>
              <%= submit_tag("SEARCH") %>
            <% end %>
          </div>
          <ul class="nav navbar-nav navbar-right" id="navbar">
      			<li>
              <%= link_to 'HOME', root_path %>
            </li>
      			<li>
              <%= link_to 'PRODUCT', products_url %>
            </li>
            <li>
              <%= link_to 'ABOUT', static_pages_about_path %>
            </li>
      			<li>
              <%= link_to 'CONTACT', static_pages_contact_path %>
            </li>
      		</ul>
        </div>
      </div>
  	</nav>

    <%= yield %>

    <hr class="divider">
    <footer>
    &copy; 2016 Austin Bikes
    </footer>
  </body>
</html>
